/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Mar-2017, 17:33:17
    Author     : Stuart Gilmour
*/

main {
    position: relative;
    display: inline-block;
    overflow: auto;
    height: 100%;
    width: 90vw;
    left: 5vw;
    background-color: rgba(0,0,100,0.8);
}

.formInput {
    padding: 0.2rem;
    /*text-align:center;*/
}

.inputForms {
   width: 80vw;
   padding: 1rem;
   margin-left: auto;
   margin-right: auto;
   line-height: 1.5rem;
   color: white;
   font-family: sans-serif;
}

.inputForms h3{
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: white;
}

.inputForms h4{
    display: inline;
}

#radioOptions{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#sliders{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5rem;
}

#numberInputs{
    padding-bottom: 0.5rem;
}

input[type=text]{
        border: 1px solid black;
        width: 80vw;
}

input[type=number]{
    border: 1px solid black;
    width: 50vw;
}

input[type=checkbox]{
    width: 5vw ;
    height:5vh ;
}

button {
    background-color: rgba(0, 100, 0, 0.7);
    padding: 0.3rem;
    text-align: center;
    width: 90vw;
    color: white;
    border-radius: 0.5rem;
}


