/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2017, 12:41:14 PM
    Author     : Trevor
*/
.rating {
    clear: both;
    outline-color: black;
    border-color: black;
    padding: 10%;

    /*background-color: white;*/
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.map {
    height: 40%; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

legend {
    padding-right: 2%;
    padding-left: 2%;
}

h1{
    alignment-adjust: central;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    
}

ul{
    text-align: center;
    margin-bottom: 10px;
}
.li {
    display: inline-block;

}

h2{
    text-align: center;
}

.ratings {
    display: inline-block;  
}

#submitButton{
    display: block;
    width: 20%;
    margin: auto;
    margin-top: 10%;

}

#trip_stats{
    list-style-type: none; 
    width: 50%;
    margin: 0 auto;
    margin-bottom: 7%;
}

th {
    text-align: left;
}

#ratingBox{
    width: 80%;
    margin: auto;
    margin-top: 4%;
    height: 15%;
}

rating{
    width: 40%;
    height: 15%;
    background-color: black;
}
